<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home.css')}}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <center><b>{{message}}</b></center>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <title>Ask Question</title>
</head>
<body>
    <div class="centerdiv">
        <h2>Welcome to the Q&A Forum</h2>
        <p1 style="color: gray;">Feel free to ask questions and participate in discussion!</p1><br><br>


    <div class="main"><div class="flex-container">
            <a href="{{url_for('home')}}"> <button>Home</button></a>
            <a href="#"> <button>Ask Question</button></a>
            <a href="{{url_for('question')}}"> <button>All Questions</button></a>
            <a href="{{url_for('logout')}}"><button>Logout</button></a>
    </div></div>



    <div class="main">
        <form action="/que"  method="post">
            <h3>Ask a Question</h3>
            <textarea rows="6" cols="100" name="question"  placeholder="type your question" required></textarea><br><br>
            <input class='centerdiv'type="submit"></input>
        </form>
    </div>  
</div>
</body>
</html>